<div class="card">
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <form id="login-form" class="card-body">
    <div>
      <label for="userLogin">Username</label>
      <input type="text" id="userLogin" />
    </div>
    <div>
      <label for="passwordLogin" class="form-label">Password</label>
      <input type="password" id="passwordLogin" />
    </div>
    <button type="submit" id="login-btn" class="btn">Login</button>
    <a type="button" href="/signup">Sign up</a>
  </form>
</div>

<script src="/js/login.js"></script>