<div class="card">
  <div class="card-header">
    <h2>Sign Up</h2>
  </div>
  <div id="signup" role="tabpanel">
    <form id="signupsheet" class="card-body">
      <div>
        <label for="usernameSignup">Username</label>
        <input type="text" id="usernameSignup" />
      </div>
      <div>
        <label for="passwordSignup">Password</label>
        <input type="password" id="passwordSignup" />
      </div>
      <button type="submit" id="signup-btn" class="btn" >Signup!</button>
      <a href="/login">Login instead</a>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>